.loader-container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  font-size: 2rem;
  color: #356d81;
  font-style: italic;
}

.status {
  color: #114051;
  font-size: 0.7rem;
}

.no-items {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #356d81;
  font-size: 2rem;
  height: 500px;
}